# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment / Secret files
.env

# Distribution / builds
build/
dist/
*.egg-info/